@import 'smart-grid'
+reset()
	
@import 'vars'
@import 'elements'
@import 'components'
@import 'pages'


*::selection
	color: white
	background-color: rgba(0, 0, 0, .95)

html
	max-width: 100vw
	font: normal 16px $font1
	overflow-x: hidden
	overflow-y: scroll
	color: $black
	background-color: $bgc1
	// transition: .65s all // global animation

.container
	+wrapper()

.hide-cursor
	cursor: none
