/// colors
// intent
$primary: #ff9642
$light-primary: transparentize($primary, .85)
$primary-invert: findColorInvert($primary)
$secondary: #ffe05d
$tertiary: #fff8cd
$quaternary: #646464
$accent: red
$light-accent: transparentize($accent, .85)
$dark-accent: darken($accent, 10%)
// common
$white: white
$black: #212121
$green: #bde7a4
$grey: transparentize($quaternary, .5)
$lighten-grey: transparentize($quaternary, .85)
$bgc1: #fff
$bgc2: #F7F7F7
// transparent
$trans15: transparentize(#1B262C, .85)


/// fonts
$font1: 'Open Sans', Arial, sans-serif
$font2: Montserrat, Arial, sans-serif
$family-primary: $font1
$family-secondary: $font2

/// styling
$br: .5em // border-radius
$tr: .25s all // transition
$bs: 0 0 1.5rem rgba(0,0,0,.06) // box-shadow

// placeholders
%app-icon
	display: inline-block
	transition: $tr
	cursor: pointer
	&:hover
		transform: scale(1.1)
		path, rect, circle
			fill: $primary
	&:active
		transform: scale(.9)
	&.active
		path, rect, circle
			fill: $primary
	&.disabled
		path, rect, circle
			fill: $lighten-grey
		&:hover
			cursor: no-drop
			transform: scale(1)
